<div class="row">
	<h2>Employee card</h2>
	<div class="col-md-7 col-md-offset-5">
		<table class="table table-hover table-bordered">
			<thead>
				<th colspan="2" class="text-center">Employee details</th>
			</thead>
			<tbody>
				<tr>
					<td rowspan="1"><%= image_tag("user.png", size: "200x200", class: "img-responsive") %></td>
					<td>
						<h3>Data</h3>
						<ul class="list-only">
							<li><strong>ID:</strong> <%= @employee.id %></li>
							<li><strong>Fullname:</strong> <%= @employee.fullname %></li>
							<li><strong>Email:</strong> <%= @employee.email %></li>
							<li><strong>Phone:</strong> <%= @employee.phone %></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-center">
						<%= @barcode_for_html.to_html.html_safe %>
					</td>
				</tr>
			</tbody>
		</table>
		<%= link_to "Back", "/employees/users/index", class: "btn btn-primary pull-left" %>
		<button class="btn btn-warning pull-right">Print</button>
	</div>
</div>